<% provide(:title, 'Agregar alumno') %>
<h1>Agregar alumno</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@alumno) do |f| %>
      <%= render 'shared/alumno_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :card_company %>
      <%= f.select :card_company_id, current_user.card_companies.map{|cc| [cc.description,cc.id]} %>

      <%= f.label :card_type %>
      <%= f.select :card_type, ['debito', 'credito'] %>

      <div class="control-group" id="cc-group">
        <%= f.label :card_number %>
        <div class="controls">
          <%= f.text_field :secret, class: 'alumno_secret cc-num' %>
          <div id="card_image"></div>
        </div>

      </div>

      <%= f.label :identifier %>
      <%= f.text_field :identifier %>

      <%= f.submit "Crear alumno", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
