<h3><%= card.description %></h3>
<h5><%= type %></h5>
<table class="contacts table table-hover table-condensed">
    <tr>
      <th>Nombre</th>
      <th>Nro Tarjeta</th>
      <th>Identificador</th>
      <th>Factura</th>
      <th>Compa&ntilde;&iacute;a</th>
      <th>Tipo</th>
      <th>Plan</th>
      <th>Monto</th>
      <th>Nuevo?</th>
      <th>Pago?</th>
      <th>Observaciones</th>
      <th>Borrar</th>
    </tr>
    <%= render :partial => "single_card", :collection => contacts, :as => :contact %>
  </table>
Contacts: <%= contacts.count %><br />
Total: <%= contacts.sum("amount") %><br />
<%= link_to "Generar resumen", "#{card.name.downcase}"+"_"+"#{type.downcase}", class: "btn btn-large btn-primary" %>
<%= link_to "Download", download_summaries_path(file_name: file_name) %>
