<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>Presentation of <%= params[:card_type] %></h1>
      <table class="table table-stripped table-bordered">
        <tr>
          <th>Name</th>
          <th>Identifier</th>
          <th>Plan</th>
          <th>Amount</th>
        </tr>
        <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %> <%= contact.last_name %></td>
          <td><%= contact.identifier %></td>
          <td><%= contact.card_type %></td>
          <td><%= contact.amount %></td>
        </tr>
        <% end %>
        <tr>
          <td>
            Total
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <%= @contacts.map{|c| c.amount}.sum %>
          </td>
        </tr>
      </table>
      <%= form_for @presentation, url: { action: "create" } do |f| %>
        <%= f.collection_select(:card_company_id, CardCompany.all, :id, :name) %>
        <%= f.submit "create", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
