<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @user do |f| %>
      <%= f.input :name, :hint => 'User name' %>
      <%= f.simple_fields_for :card_companies do |cc| %>
        <%= render 'card_companies_fields', :f => cc %>
      <% end %>
      <div class="links">
          <%= link_to_add_association 'Add Card Company', f, :card_companies, :partial => 'card_companies_fields' %>
        </div>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>