<h1>Sistema de d&eacute;bitos</h1>

<div class="center hero-unit">
  <%= render :partial => "current_user", locals: {user: current_user} %>
</div>

<h2>
    <i class="icon-bookmark"></i> Pasos a seguir
</h2>

<div class="well">
  <ol>
    <li>
      <%= link_to edit_user_path(current_user.id)  do %>
        Añadir las tarjetas con las cuales desea trabajar
      <% end %>
    </li>
    <li>
      <%= link_to alumnos_path do %>
          Obtener los datos de los alumnos de PADMA
      <% end %>
    </li>
    <li>
      <%= link_to alumnos_path do %>
          Cargar los datos de la tarjetas
      <% end %>
    </li>
    <li>
      <%= link_to alumnos_path do %>
          Analizar si los datos son correctos
      <% end %>
    </li>
    <li>
      <%= link_to summaries_path do %>
          Generar resúmenes
      <% end %>
    </li>
    <li>
      <%= link_to summaries_path do %>
          Descargar los resúmenes
      <% end %>
    </li>
  </ol>
</div>

