<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div id="UserData">
    <%	if !@google_user.email.nil? %>
        Your Data:<br>
        Google User Name <br>
        Email: <%= @google_user.email %>
        <% if current_user?(@google_user.user)%>
          <%= link_to "delete", current_user.google_users.last, method: :delete,
                                              data: { confirm: "Are you sure?" } %>
        <% end %>
    <% else %>
      <%= render 'shared/google_user_form' %>
    <%	 end %>
  </div>
</div>