<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div id="UserData">

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.fields_for :card_companies do |builder| %>
        <%= render 'card_companies_form', :f => builder %>
      <% end %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>