<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div id="UserData">
    <div>
      <% @user.card_companies.each do |cc| %>
        <% if !cc.id.nil? %>
          NAME: <%= cc.name %> <br>
          ESTABLISHMENT: <%= cc.establishment %>
        <% end %>
      <% end %>
    </div>
    <%= simple_form_for @user do |f| %>
      <%= f.simple_fields_for @user.card_companies.new do |cc| %>
        <%= render 'card_companies_fields', :f => cc %>
        <div class="links">
          <%= link_to_add_association 'Add Card Company', f, :card_companies, :partial => 'card_companies_fields' %>
        </div>
      <% end %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>