<% if contact.observations.blank?%>
  <tr>
<% else %>
  <tr class="warning">
<% end%>
  <td><%= check_box_tag "contact_ids[]", contact.id %></td>
  <td><%= link_to "#{contact.full_name}", "http://crm.padm.am/contacts/" + contact.padma_id.to_s %></td>
  <td><%= best_in_place [@account,contact], :identifier, class: "forum" %></td>
  <% if false %>
    <td><%= best_in_place [@account,contact], :bill, class: "forum" %></td>
  <% end %>
  <% if false && contact.secret.nil? %>
    <td><%= best_in_place [@account,contact], :secret, :place_holder => "Ingrese número de tarjeta" %></td>
  <% elsif false %>
    <td><%= best_in_place [@account,contact], :secret,
                        class: "forum contact_secret",
                        display_as: :number_for_humans %></td>
  <% else %>
  <td>
    no se puede modificar por ahora
    <%= contact.number_for_humans %>
  </td>
  <% end %>
  <td><%= best_in_place [@account,contact], :card_company_id, as: :select, collection: @account.responsibles.first.card_companies.map{|cc| [cc.id, cc.description]} %></td>
  <td><%= best_in_place [@account,contact], :card_type, as: :select, collection: [["credito", "credito"], ["debito", "debito"]], class: "forum" %></td>
  <td><%= contact.plan%></td>
  <td><%= best_in_place [@account,contact], :amount, class: "forum" %></td>
  <td><%= best_in_place [@account,contact], :payed, as: :checkbox, collection: %w[No Si], class: "forum" %></td>
  <td><%= contact.observations%></td>
  <td>
    <%= link_to [@account,contact], method: :delete, data: { confirm: "You sure?" } do %>
      <i class="icon-trash"></i>
    <% end %>
  </td>
</tr>
