<% provide(:title, 'Contacts') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render "layouts/breadcrumbs", 
            type: "Contacts", 
            alert: "info", 
            pages: [
                      {name: "Home", path: root_path}, 
                      {name: "Account", path: account_path(@account.id)},
                      {name: "Contacts", path: nil}
                    ] 
      %>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h3>
        <div class="alert alert-info">
          Importar contacts
          <button class="btn btn-primary" id="padma-students-button">Desde PADMA</button>
          <button class="btn btn-primary" id="csv-students-button">Desde un CSV</button>
        </div>
      </h3>
      
      <div class="row" id="import-students-from-CRM" class="students-toggle">
        <div class="col-md-12">
          <div class="alert alert-info">
            <h2>Importar contacts de PADMA</h2>
            <%= link_to synch_with_contacts_account_contacts_path(@account.id), class: "btn btn-primary" do %>
              Synch with PADMA
            <% end %>
          </div>
        </div>
      </div>
      <div class="row" id="import-students-from-CSV" class="students-toggle">
        <div class="col-md-12">
          <div class="alert alert-info">
            <h2>Importar contacts de CSV</h2>
            <h5>Los headers aceptados son:</h5>
            <h6>id name last_name identifier amount card_type card_company padma_id instructor plan due_date payed payment observations bill 
                          active new_debit user_id secret secret_key secret_iv card_company_id</h6>
            <%= form_tag import_account_contacts_path(@account.id), multipart: true do %>
              <%= file_field_tag :file %>
              <%= text_field_tag :bill %>
              <%= submit_tag "Importar" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

    <% if false %>
  <div class="row">
    <div class="col-md-10">
      <h1><%= @contacts.count %> Contacts</h1>
      <% @contacts.each do |contact| %>
        <%= contact.inspect %><br/>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if true %>
    <div class="row">
      <div class="col-md-12">
        <h1>Contacts de <%= @account.padma.full_name %></h1>

        <p>
          Download:
          <%= link_to "CSV", account_contacts_path(account_id: @account.id, format: "csv") %> |
          <%= link_to "Excel", account_contacts_path(account_id: @account.id, format: "xls") %> |
          <%= link_to "JSON", account_contacts_path(account_id: @account.id, format: "json") %>
        </p>

        <%= will_paginate %>

        <%= form_tag set_multiple_inactive_account_contacts_path(@account.id) do %>
        <%= button_to_function "Check / Uncheck All", "toggleChecked()" %>
        <%= submit_tag "Eliminar los elegidos" %>
        <br>
        <%= link_to "Agregar contact nuevo", new_account_contact_path(@account.id), class: "btn btn-large btn-primary" %>
        <br>
        <br>
          <table class="contacts table table-hover">
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Identificador</th>
              <th>N&uacute;mero de tarjeta</th>
              <th>Compa&ntilde;&iacute;a</th>
              <th>Tipo</th>
              <th>Plan</th>
              <th>Monto</th>
              <th>Pago?</th>
              <th>Observaciones</th>
              <th>Borrar</th>
            </tr>
            <%= render @contacts %>
          </table>
        <% end %>

        <%= will_paginate %>
      </div>
    </div>
  <% end %>
</div>

<script type='text/javascript'>
    var toggleChecked = function() { $('input[type="checkbox"]').click(); };
</script>
