<header class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Debitos", root_path, id: "logo", class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li>
              <%= link_to root_path do %>
                <%= current_user.username %>[<%= current_user.current_account.name%>]
              <% end %>
            </li>
            <li>
              <% if false %>
                <%= link_to users_path do %>
                  <i class="icon-user icon-white"></i> Users
                <% end %>
              <% end %>
            </li>
            <li id="fat-menu" class="dropdown">
              <% if false %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", logout_path, method: "delete" %>
                  </li>
                </ul>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to login_path do %>
                <i class="icon-hand-right icon-white"></i> Sign in
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>